<div class="control-pair">
  <div class="pair-header">
    <label>Acciones rápidas</label>
  </div>
  <div class="pair-body">
    <div class="row">
      <button id="wg_btn_home_x">Homing X</button>
      <button id="wg_btn_home_a">Homing A</button>
      <button id="wg_btn_reset_all" class="warn">Reset X + A + Volumen</button>
    </div>
    <div class="row">
      <button id="wg_btn_home">Home Global</button>
      <button id="wg_btn_stop" class="warn">Paro inmediato</button>
    </div>
  </div>
</div>

