<div class="control-pair">
  <div class="pair-header">
    <label>Energías (X/A/Bomba)</label>
  </div>
  <div class="pair-body">
    <div class="row energy-row">
      <div class="slider">
        <label>Energy X</label>
        <input type="range" id="wg_en_x" min="-255" max="255" value="0">
        <output id="wg_en_x_o">0</output>
      </div>
      <div class="slider">
        <label>Energy A</label>
        <input type="range" id="wg_en_a" min="-255" max="255" value="0">
        <output id="wg_en_a_o">0</output>
      </div>
      <div class="slider">
        <label>Energy Bomba</label>
        <input type="range" id="wg_en_b" min="0" max="255" value="0">
        <output id="wg_en_b_o">0</output>
      </div>
    </div>
  </div>
</div>

